@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
:root {
  --primary-color: #C1272D;
  --title-color: #694041;
  --bg-color: #FAFAFA;
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  color: #262626;
}

.overflow-hidden {
  overflow: hidden;
}

.top-plank {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .top-plank {
    height: 24px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media screen and (max-width: 576px) {
  .top-plank {
    height: 18px;
  }
}

.section-title {
  font-weight: bold;
  font-size: 32px;
  line-height: 32px;
  text-transform: uppercase;
  color: #694041;
  padding: 45px 0 30px;
}

.section-title.h1 {
  font-size: 42px;
  text-transform: none;
}

.section-title.h3 {
  font-size: 22px;
  font-weight: 500;
  padding: 0;
  text-transform: none;
}

details {
  max-width: 100%;
  position: relative;
}

details > :last-child {
  margin-bottom: 1rem;
}

details::before {
  width: 100%;
  height: 100%;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
  z-index: -1;
}

details[open] .expand {
  -webkit-animation-name: fadeInDown;
          animation-name: fadeInDown;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

details[open]::before {
  opacity: .6;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-0.75em);
            transform: translateY(-0.75em);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-0.75em);
            transform: translateY(-0.75em);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

summary {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

summary .section-title {
  font-size: 22px;
  padding: 0;
}

summary .cart-count {
  font-size: 14px;
  line-height: 18px;
  color: #A7A7A7;
}

summary::after {
  content: '';
  background-image: url("/assets/icons/cart-icon-red.svg");
  width: 27px;
  height: 21px;
  position: absolute;
  top: 5px;
  right: 0;
}

summary::-webkit-details-marker {
  display: none;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 5px;
}

@media screen and (max-width: 768px) {
  .sticky {
    position: relative;
  }
}

.link {
  text-decoration: none;
  color: #C1272D;
  -webkit-transition: .2s all;
  transition: .2s all;
}

.link:hover {
  opacity: .8;
}

.btn {
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.btn-primary {
  padding: 10px 20px;
  background: #C1272D;
  -webkit-transition: .2s all;
  transition: .2s all;
  border-radius: 50px;
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 15px;
}

.btn-primary:hover {
  background: #C0161C;
}

@media screen and (max-width: 768px) {
  .not-main {
    display: none !important;
  }
}

.header {
  margin-top: -3px;
  position: relative;
}

.header-wrapper {
  padding: 35px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 990px) {
  .header-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 576px) {
  .header-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header-wrapper .header-logo {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

@media screen and (max-width: 576px) {
  .header-wrapper .header-logo .logo-image-block img {
    width: 80px;
  }
}

.header-wrapper .header-info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 190px;
}

@media screen and (max-width: 576px) {
  .header-wrapper .header-info .header-info_top span {
    display: none;
  }
}

.header-wrapper .header-info .header-info_top span:nth-child(1) {
  color: #A7A7A7;
  font-weight: 300;
  font-size: 11px;
  line-height: 16px;
}

.header-wrapper .header-info .header-info_top span:nth-child(2) {
  font-weight: 300;
  font-size: 15px;
  line-height: 19px;
  margin-top: 3px;
}

.header-wrapper .header-info .header-info_btn {
  padding: 10px 20px;
  text-decoration: none;
  color: #FFFFFF;
  font-size: 15px;
  font-weight: 500;
  border-radius: 18px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #00823D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all .2s;
  transition: all .2s;
}

@media screen and (max-width: 576px) {
  .header-wrapper .header-info .header-info_btn {
    position: absolute;
    bottom: -450px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: 2;
  }
}

@media screen and (max-width: 375px) {
  .header-wrapper .header-info .header-info_btn {
    font-size: 13px;
    padding: 10px 12px;
  }
}

.header-wrapper .header-info .header-info_btn:hover {
  background-color: #009245;
}

.header-wrapper .header-actions {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 990px) {
  .header-wrapper .header-actions {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-top: 20px;
  }
}

@media screen and (max-width: 576px) {
  .header-wrapper .header-actions {
    margin-top: 10px;
  }
}

.header-wrapper .header-actions .header-menu {
  cursor: pointer;
}

.header-wrapper .header-actions .header-menu img {
  display: none;
}

.header-wrapper .header-actions .header-menu img.active {
  display: block;
}

.header-wrapper .header-actions .header-login {
  color: #A7A7A7;
  text-decoration: none;
  font-size: 14px;
  line-height: 18px;
  -webkit-transition: .2s all;
  transition: .2s all;
}

@media screen and (max-width: 990px) {
  .header-wrapper .header-actions .header-login {
    margin: 0 30px 0 0;
  }
}

@media screen and (max-width: 576px) {
  .header-wrapper .header-actions .header-login span {
    display: none;
  }
}

.header-wrapper .header-actions .header-login:hover {
  opacity: .7;
}

.header-list-menu {
  padding: 16px;
  width: 50%;
  margin-right: 24px;
  background: #FFFFFF;
  opacity: 0;
  -webkit-transform: translate(50%, -200%);
          transform: translate(50%, -200%);
  position: absolute;
  top: 38px;
  left: -10px;
  -webkit-transition: .3s all;
  transition: .3s all;
  z-index: 5;
}

@media screen and (max-width: 1200px) {
  .header-list-menu {
    width: 51%;
  }
}

@media screen and (max-width: 990px) {
  .header-list-menu {
    width: 100%;
    margin-right: 0;
    padding: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 576px) {
  .header-list-menu {
    -webkit-transform: translate(-100%, 20%);
            transform: translate(-100%, 20%);
  }
}

.header-list-menu .mobile-add-info {
  display: none;
}

@media screen and (max-width: 990px) {
  .header-list-menu .mobile-add-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header-list-menu.visible {
  opacity: 1;
  -webkit-transform: translate(75%, 0);
          transform: translate(75%, 0);
}

@media screen and (max-width: 990px) {
  .header-list-menu.visible {
    -webkit-transform: translate(65%, 0);
            transform: translate(65%, 0);
  }
}

@media screen and (max-width: 990px) {
  .header-list-menu.visible {
    -webkit-transform: translate(0, 280px);
            transform: translate(0, 280px);
    height: calc( 100vh - 315px);
    left: 0;
  }
}

@media screen and (max-width: 576px) {
  .header-list-menu.visible {
    -webkit-transform: translate(0, 100px);
            transform: translate(0, 100px);
    height: calc( 100vh - 138px);
    width: 100%;
  }
}

.header-list-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (max-width: 990px) {
  .header-list-menu ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header-list-menu ul li {
  list-style: none;
}

@media screen and (max-width: 576px) {
  .header-list-menu ul li {
    margin: 15px 0;
  }
}

.header-list-menu ul li .link {
  color: #694041;
  text-transform: uppercase;
  font-size: 15px;
  padding: 0 5px;
  position: relative;
  margin: 0 10px;
}

.header-list-menu .btn {
  color: #FFFFFF;
  background: #00823D;
  font-size: 15px;
  font-weight: 500;
  border-radius: 18px;
  padding: 10px 25px;
}

.header-list-menu small {
  font-size: 12px;
  color: #A7A7A7;
  font-weight: 300;
}

.header-list-menu p {
  font-size: 15;
  font-weight: 300;
}

.banner {
  position: relative;
}

.banner .carousel {
  background: #FAFAFA;
  padding: 30px 0 70px;
}

.banner .carousel .carousel-cell {
  width: 750px;
  height: 320px;
  margin-right: 30px;
  border-radius: 5px;
  opacity: .4;
}

@media screen and (max-width: 768px) {
  .banner .carousel .carousel-cell {
    width: 100%;
  }
}

.banner .carousel .carousel-cell .banner-block {
  width: 100%;
  height: 100%;
}

.banner .carousel .carousel-cell .banner-block .banner-img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .banner .carousel .carousel-cell .banner-block .banner-img {
    height: 320px;
  }
}

.banner .carousel .is-selected {
  opacity: 1;
}

.banner .carousel .flickity-prev-next-button {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  background-color: #FFFFFF;
  width: 50px;
  height: 50px;
  opacity: .3;
}

@media screen and (max-width: 768px) {
  .banner .carousel .flickity-prev-next-button {
    display: none;
  }
}

.banner .carousel .flickity-prev-next-button:hover {
  opacity: 1;
}

.banner .carousel .next {
  right: 15%;
}

@media screen and (max-width: 990px) {
  .banner .carousel .next {
    right: 5%;
  }
}

.banner .carousel .previous {
  left: 15%;
}

@media screen and (max-width: 990px) {
  .banner .carousel .previous {
    left: 5%;
  }
}

.banner .carousel .flickity-page-dots {
  bottom: 25px;
}

@media screen and (max-width: 576px) {
  .banner .carousel .flickity-page-dots {
    bottom: 35px;
  }
}

.banner .carousel .flickity-page-dots .is-selected {
  background: #C1272D;
}

.categories {
  position: relative;
  background: #FAFAFA;
}

@media screen and (max-width: 768px) {
  .categories {
    display: none;
  }
}

.categories .categories-table {
  width: 100%;
  margin-top: 15px;
}

.categories .categories-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.categories .categories-wrapper .category-item {
  padding: 30px 23px 5px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1200px) {
  .categories .categories-wrapper .category-item {
    min-width: 20%;
  }
}

.categories .categories-wrapper .category-title {
  font-weight: bold;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.02em;
  margin-top: 21px;
  text-decoration: none;
  color: #694041;
  text-transform: uppercase;
}

.mini-cart {
  display: none !important;
}

@media screen and (max-width: 768px) {
  .mini-cart {
    display: block !important;
    opacity: 0;
    background: #C1272D;
    padding: 10px 20px;
    border-radius: 50px;
    z-index: 90;
    position: fixed;
    bottom: 8%;
    right: 20px;
    -webkit-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
    -webkit-transition-delay: .3s;
            transition-delay: .3s;
  }
}

.mini-cart_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mini-cart span {
  color: #FFFFFF;
  margin-right: 10px;
  font-size: 22px;
  font-weight: 500;
}

.products-cart-wrapper {
  position: relative;
}

.products-cart-wrapper .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 262px;
      grid-template-columns: 1fr 262px;
  gap: 30px;
}

@media screen and (max-width: 768px) {
  .products-cart-wrapper .grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 576px) {
  .products-cart-wrapper .grid {
    padding-top: 30px;
  }
}

@media screen and (max-width: 990px) {
  .products-cart-wrapper .grid.order-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.products-cart-wrapper .grid .products-section {
  position: relative;
}

.products-cart-wrapper .grid .cart {
  position: relative;
  margin-top: 105px;
}

@media screen and (max-width: 990px) {
  .products-cart-wrapper .grid .cart {
    margin-top: 20px;
  }
}

@media screen and (max-width: 768px) {
  .products-cart-wrapper .grid .cart {
    display: none;
  }
}

.products-cart-wrapper .grid .cart .cart-wrapper {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15), inset 0px 3px 0px #C1272D;
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15), inset 0px 3px 0px #C1272D;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 15px;
}

.products-cart-wrapper .grid .cart .cart-wrapper .expand {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.products-cart-wrapper .grid .cart .cart-wrapper .expand .points {
  font-size: 12px;
  color: #A7A7A7;
  text-align: center;
}

.products-cart-wrapper .grid .cart .cart-wrapper .expand .clear-cart {
  color: #C1272D;
  font-size: 12px;
  text-decoration: none;
  text-align: center;
}

.products-cart-wrapper .grid .cart .cart-wrapper .expand .current-value {
  margin-bottom: 30px;
}

.products-cart-wrapper .grid .cart .cart-wrapper .expand .current-value span {
  font-size: 15px;
  line-height: 22px;
  text-transform: uppercase;
  font-weight: bold;
  color: #694041;
}

.products-cart-wrapper .grid .cart .cart-wrapper .expand .current-value span:nth-child(2) {
  font-size: 18px;
}

.products-cart-wrapper .grid .cart .cart-wrapper .expand .cart-item {
  padding: 5px 0 15px;
  border-bottom: 1px solid #EBEBEB;
  margin-bottom: 15px;
}

.products-cart-wrapper .grid .cart .cart-wrapper .expand .cart-item_bottom {
  margin-top: 1rem;
}

.products-cart-wrapper .grid .cart .cart-wrapper .expand .cart-item_bottom span {
  margin: 0 10px;
}

.products-cart-wrapper .grid .cart .cart-wrapper .expand .cart-item_bottom .value {
  font-size: 15px;
  color: #694041;
}

.products-cart-wrapper .grid .cart .cart-wrapper .expand .cart-item_bottom .btn {
  border-radius: 50px;
  color: #A7A7A7;
  font-size: 20px;
  width: 24px;
  height: 24px;
  text-align: center;
  -webkit-transition: .2s all;
  transition: .2s all;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  outline-color: transparent;
}

.products-cart-wrapper .grid .cart .cart-wrapper .expand .cart-item_bottom .btn:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.products-cart-wrapper .grid .cart .cart-wrapper .expand .cart-item_bottom .btn.add {
  background: #e61e2880;
  color: #C1272D;
}

.products-cart-wrapper .grid .cart .cart-wrapper .expand .cart-item_bottom .btn:hover {
  opacity: .7;
}

.products-cart-wrapper .grid .cart .cart-wrapper .expand .cart-item_thumb img {
  width: 100%;
  border-radius: 7px;
}

.products-cart-wrapper .grid .cart .cart-wrapper .expand .cart-item_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 7px;
}

.products-cart-wrapper .grid .cart .cart-wrapper .expand .cart-item_title p {
  font-size: 14px;
  line-height: 18px;
  color: #694041;
}

.products-cart-wrapper .grid .cart .cart-wrapper .expand .cart-item_title span {
  font-size: 12px;
  color: #A7A7A7;
  margin: 2px 0;
}

.products-cart-wrapper .grid .cart .cart-wrapper .expand .cart-item_title span.add {
  color: #009245;
  font-size: 11px;
}

.products-cart-wrapper .grid .cart .cart-wrapper .expand .cart-item_title span.remove {
  font-size: 11px;
  color: #C1272D;
}

.main-products-wrapper {
  padding-bottom: 90px;
  background: #FAFAFA;
}

.products-wrapper {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

@media screen and (max-width: 1200px) {
  .products-wrapper {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 990px) {
  .products-wrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 576px) {
  .products-wrapper {
    gap: 0;
    margin: 0 -15px;
  }
}

.products-wrapper .product-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.products-wrapper .product-card.fixed {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  position: fixed !important;
  bottom: 0;
  left: 0;
  right: 0;
  top: 15px;
  z-index: 100;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.products-wrapper .product-card.anim {
  opacity: 1 !important;
  -webkit-transform: translateY(0) !important;
          transform: translateY(0) !important;
}

@media screen and (max-width: 576px) {
  .products-wrapper .product-card {
    display: none;
    border-radius: 10px 10px 0 0;
  }
}

.products-wrapper .product-card .mobile-close {
  display: none;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

@media screen and (max-width: 768px) {
  .products-wrapper .product-card .mobile-close {
    position: absolute;
    display: block;
    top: 10px;
    right: 15px;
  }
}

.products-wrapper .product-card_overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(38, 38, 38, 0.6);
  z-index: 2;
  padding: 25px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.products-wrapper .product-card_overlay.show {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.products-wrapper .product-card_modal {
  padding: 20px;
  background-color: #FFFFFF;
  border-radius: 10px;
  z-index: 3;
}

.products-wrapper .product-card_modal_title {
  font-size: 15px;
  padding: 0;
}

.products-wrapper .product-card_modal_option_group {
  position: relative;
  padding: 2px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.products-wrapper .product-card_modal_checkbox {
  display: none;
}

.products-wrapper .product-card_modal_checkbox:checked + label span {
  color: #694041;
}

.products-wrapper .product-card_modal_checkbox:checked + label::after {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.products-wrapper .product-card_modal_label {
  cursor: pointer;
  width: 100%;
}

.products-wrapper .product-card_modal_label span {
  font-size: 14px;
  color: #A7A7A7;
  opacity: .8;
  min-width: 150px;
}

.products-wrapper .product-card_modal_label::after {
  content: '';
  position: absolute;
  top: 7px;
  right: 0;
  width: 10px;
  height: 10px;
  background-image: url("/assets/icons/delete.svg");
  -webkit-transition: .2s;
  transition: .2s;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.products-wrapper .product-card_modal_info p {
  font-size: 14px;
  color: #694041;
}

.products-wrapper .product-card_modal_info span {
  font-size: 12px;
  color: #A7A7A7;
  margin: 3px 0;
  position: relative;
}

.products-wrapper .product-card_modal_info .add {
  color: #00823D;
  -webkit-padding-start: 10px;
          padding-inline-start: 10px;
}

.products-wrapper .product-card_modal_info .add::before {
  content: '+';
  position: absolute;
  top: 1px;
  left: 0;
}

.products-wrapper .product-card_modal_info .remove {
  color: #C1272D;
  -webkit-padding-start: 10px;
          padding-inline-start: 10px;
}

.products-wrapper .product-card_modal_info .remove::before {
  content: '-';
  position: absolute;
  top: 0;
  left: 0;
}

.products-wrapper .product-card_modal_actions .btn {
  width: 100%;
  text-align: center;
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

.products-wrapper .product-card_modal_actions .btn:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.products-wrapper .product-card_modal_actions .close {
  font-size: 12px;
  color: #A7A7A7;
  cursor: pointer;
}

.products-wrapper .product-card_image_block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.products-wrapper .product-card_image {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 212px;
  border-radius: 10px 10px 0 0;
}

.products-wrapper .product-card_body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 20px;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.products-wrapper .product-card_title {
  margin-bottom: 7px;
}

.products-wrapper .product-card_title p {
  font-weight: 500;
  font-size: 22px;
  padding: 0;
}

.products-wrapper .product-card_description {
  margin-bottom: 50px;
}

.products-wrapper .product-card_description p {
  font-size: 12px;
  color: #A7A7A7;
}

.products-wrapper .product-card_bottom {
  position: relative;
}

.products-wrapper .product-card_bottom .price {
  font-size: 18px;
  color: #694041;
}

.products-wrapper .product-card_bottom .sale {
  position: absolute;
  top: -5px;
  right: -1px;
  font-size: 12px;
  color: #A7A7A7;
  text-decoration: line-through;
}

.products-wrapper .product-card_bottom .btn-primary {
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

.products-wrapper .product-card_bottom .btn-primary:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.product-card-mobile {
  display: none;
}

@media screen and (max-width: 576px) {
  .product-card-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 20px;
    background: #FFFFFF;
    border-bottom: 1px solid #BDBDBD;
  }
}

.product-card-mobile img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}

.product-card-mobile .btn {
  width: 40px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #009245;
  -webkit-transition: .2s all;
  transition: .2s all;
  border-radius: 15px;
  opacity: .3;
}

.product-card-mobile .btn:hover {
  opacity: 1;
  background: #00823D;
}

.product-card-mobile_body {
  width: 100%;
  padding: 0 0 10px 20px;
  position: relative;
}

.product-card-mobile_body .price {
  font-size: 18px;
}

.product-card-mobile_body .sale {
  position: absolute;
  bottom: 35px;
  left: 22px;
  font-size: 12px;
  color: #A7A7A7;
  text-decoration: line-through;
}

.product-card-mobile_title {
  font-size: 22px;
  font-weight: 500;
  line-height: 26px;
  color: #694041;
  margin-bottom: 10px;
}

.promotions-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

.promotions-wrapper .promotion-item img {
  border-radius: 10px;
  height: auto;
  max-width: 360px;
}

@media screen and (max-width: 576px) {
  .promotions-wrapper .promotion-item img {
    width: 100%;
  }
}

.promotions-wrapper .promotion-item_body {
  padding: 20px;
}

@media screen and (max-width: 990px) {
  .promotions-wrapper .promotion-item_body {
    padding: 20px 0;
  }
}

.promotions-wrapper .promotion-item_body .text {
  font-weight: 300;
  font-size: 15px;
}

.promotions-wrapper .promotion-item_body .btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.promotions-wrapper .promotion-item_body .btn:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.contact-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
}

@media screen and (max-width: 990px) {
  .contact-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contact-wrapper .contact-map-form {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

.contact-wrapper .contact-info {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.contact-wrapper .contact-top_group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 15px;
}

.contact-wrapper .contact-top_group span {
  color: #A7A7A7;
  font-size: 14px;
}

.contact-wrapper .contact-top_group ul {
  padding: 0;
  margin-top: 10px;
}

.contact-wrapper .contact-top_group ul .link {
  color: #262626;
  margin-bottom: 12px;
  display: inline-block;
}

.contact-wrapper .contact-top_group li {
  list-style: none;
  font-size: 18px;
}

.contact-wrapper .contact-top_group .link {
  color: #262626;
}

.option_group_map {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border: 1px solid #F0F0F0;
  border-radius: 50px;
}

.option_group {
  z-index: 2;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.option_group .radio-type {
  display: none;
}

.option_group .radio-type:checked + label {
  background: #E0E0E0;
}

.option_group .radio-type:checked + label span {
  color: #694041;
}

.option_group .label-type {
  width: 101%;
  text-align: center;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 4px;
  margin: -1px;
  height: 107%;
  cursor: pointer;
  -webkit-transition: color .25s ease-out, background .55s ease-out;
  transition: color .25s ease-out, background .55s ease-out;
}

.option_group .label-type span {
  font-size: 13px;
  color: #A7A7A7;
}

.option_change {
  font-size: 13px;
  color: #A7A7A7;
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #F0F0F0;
  border-radius: 50px;
  cursor: pointer;
}

.cart-promo-code {
  position: relative;
}

.cart-promo-code input {
  padding: 10px 18px;
  width: 100%;
  background: #F2F2F2;
  border: none;
  border-radius: 50px;
  -webkit-transition: .3s all;
  transition: .3s all;
  outline: none;
}

.cart-promo-code input::-webkit-input-placeholder {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: #A7A7A7;
}

.cart-promo-code input:-ms-input-placeholder {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: #A7A7A7;
}

.cart-promo-code input::-ms-input-placeholder {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: #A7A7A7;
}

.cart-promo-code input::placeholder {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: #A7A7A7;
}

.cart-promo-code input:focus {
  background: #FFFFFF;
}

.cart-promo-code button {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 3px;
  right: 4px;
  background: #E0E0E0;
  color: #FFFFFF;
  border-radius: 50px;
  font-weight: 700;
  outline-color: #E0E0E0;
  outline-width: thin;
}

.footer-top .container {
  padding-top: 60px;
  padding-bottom: 80px;
}

.footer-top .container_logo {
  padding: 20px;
}

.footer-top .container_logo .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
}

.footer-top_content {
  gap: 60px;
}

@media screen and (max-width: 768px) {
  .footer-top_content {
    margin: 30px 0;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .footer-top_content .footer-top_info, .footer-top_content .footer-top_group {
    width: 100%;
    text-align: center;
  }
}

.footer-top_content .footer-top_group {
  margin: 10px 0;
}

.footer-top_group span {
  color: #A7A7A7;
  font-size: 14px;
}

.footer-top_group ul {
  padding: 0;
  margin-top: 10px;
}

.footer-top_group ul .link {
  color: #262626;
  margin-bottom: 12px;
  display: inline-block;
}

.footer-top_group li {
  list-style: none;
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  .footer-map {
    pointer-events: none;
  }
}

.footer-bottom {
  padding: 30px 0 35px;
  background: #262626;
}

.footer-bottom .link {
  color: #E0E0E0;
  text-decoration: underline;
  font-size: 16px;
}

.footer-bottom .pay-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  .footer-bottom .pay-services {
    margin-top: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

@media screen and (max-width: 768px) and (max-width: 768px) {
  .footer-bottom .pay-services div {
    margin-top: 10px;
  }
}

.footer-bottom p {
  font-size: 11px;
  color: #A7A7A7;
}

.footer-bottom span {
  font-size: 14px;
  color: #E0E0E0;
}

.contacts-group {
  gap: 15px;
}

.input-text-group span {
  color: #A7A7A7;
  font-size: 12px;
  padding-left: 15px;
}

.input-text-group .input-text {
  padding: 10px;
  border: none;
  background: #F2F2F2;
  border-radius: 50em;
  margin-top: 3px;
  outline: transparent;
  width: 100%;
  font-size: 15px;
  font-weight: 300;
}

.input-text-group .input-text::-webkit-input-placeholder {
  font-weight: 300;
}

.input-text-group .input-text:-ms-input-placeholder {
  font-weight: 300;
}

.input-text-group .input-text::-ms-input-placeholder {
  font-weight: 300;
}

.input-text-group .input-text::placeholder {
  font-weight: 300;
}

@media screen and (max-width: 576px) {
  .order-cart {
    margin: 0 -20px;
  }
}

.order-cart .cart-wrapper {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15), inset 0px 3px 0px #C1272D;
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15), inset 0px 3px 0px #C1272D;
  border-radius: 10px;
  padding: 20px;
}

.order-cart .cart-wrapper .cart-count {
  font-size: 14px;
  color: #A7A7A7;
}

.order-cart .cart-wrapper .cart-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.order-cart .cart-wrapper .cart-items .cart-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 0 15px;
  border-bottom: 1px solid #EBEBEB;
  position: relative;
}

@media screen and (max-width: 768px) {
  .order-cart .cart-wrapper .cart-items .cart-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.order-cart .cart-wrapper .cart-items .cart-item_top {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.order-cart .cart-wrapper .cart-items .cart-item_thumb img {
  width: 100px;
  height: auto;
  border-radius: 7px;
}

.order-cart .cart-wrapper .cart-items .cart-item_title {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  padding: 0 15px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.order-cart .cart-wrapper .cart-items .cart-item_title p {
  font-size: 14px;
  color: #694041;
}

.order-cart .cart-wrapper .cart-items .cart-item_title span {
  font-size: 12px;
  color: #A7A7A7;
}

.order-cart .cart-wrapper .cart-items .cart-item_bottom {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 20px 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media screen and (max-width: 768px) {
  .order-cart .cart-wrapper .cart-items .cart-item_bottom {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 100%;
    margin: 12px 0;
    padding: 0 15px 0 120px;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

@media screen and (max-width: 576px) {
  .order-cart .cart-wrapper .cart-items .cart-item_bottom {
    margin-top: 15px;
  }
}

.order-cart .cart-wrapper .cart-items .cart-item_bottom .count-group {
  margin: 0 15px;
}

.order-cart .cart-wrapper .cart-items .cart-item_value {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  color: #694041;
}

@media screen and (max-width: 768px) {
  .order-cart .cart-wrapper .cart-items .cart-item_value {
    text-align: end;
  }
}

.order-cart .cart-wrapper .cart-items .cart-item_delete_btn {
  position: absolute;
  top: 25px;
  right: 5px;
}

@media screen and (max-width: 576px) {
  .order-cart .cart-wrapper .cart-items .cart-item_delete_btn {
    right: 0;
  }
}

.order-wrapper .contacts-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  .order-wrapper .contacts-group {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .order-wrapper .contacts-group .input-text-group {
    margin-top: 10px;
  }
}

.order-wrapper .delivery .option_group_map {
  max-width: 300px;
}

.order-wrapper .address_properties {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px;
}

.order-wrapper .address_properties .input-text-group {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media screen and (max-width: 768px) {
  .order-wrapper .address_properties .input-text-group {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 40%;
  }
}

.order-wrapper .delivery-time .option_group_map {
  max-width: 300px;
}

.order-wrapper .delivery-time .input-text-group {
  width: 100%;
}

.order-wrapper .pay .option_group_map {
  max-width: 450px;
}

.order-wrapper .commentary .input-textarea-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.order-wrapper .commentary .input-textarea-group span {
  color: #A7A7A7;
  font-size: 12px;
  padding-left: 15px;
}

.order-wrapper .commentary .input-textarea-group .input-textarea {
  padding: 10px;
  border: none;
  background: #F2F2F2;
  border-radius: 18px;
  margin-top: 3px;
  outline: transparent;
  width: 100%;
  font-size: 15px;
  font-weight: 300;
  resize: none;
}
/*# sourceMappingURL=main.css.map */